* {
	margin: 0;
	padding: 0;

	transition: cubic-bezier(0.77, 0, 0.175, 1);
}

html,
body {
  font-family: 'roboto', sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-thumb {
	display: none;
}

/*
Navigation
*/
#secondNavbar {
  background-color: #111111;
  position: fixed;
  top: -60px;
	height: 40px;
  width: 100%;
  display: block;
  transition: top 0.3s;
	z-index: 20002;
	display: flex;
	justify-content: center;
	margin-top:none;
	padding-left: 7.5%;
	padding-right: 7.5%;

	transition-delay: 0.2s;
	transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

#secondNavbar a {
  display: block;
  color: #f2f2f2;
  text-align: right;
  text-decoration: none;
}

#navA{
	-webkit-animation: fadein 0.5s ease; /* Safari, Chrome and Opera > 12.1 */
	 -moz-animation: fadein 0.5s ease; /* Firefox < 16 */
		-ms-animation: fadein 1s ease; /* Internet Explorer */
		 -o-animation: fadein 0.5s ease; /* Opera < 12.1 */
				animation: fadein 0.5s ease;
}

#secondNavbar a:hover {
  color: #bdbdbd;
}
.nav{
	position: -webkit-fixed;
	margin-bottom: 0;
  align-items:baseline;
	top: 0;
  justify-content: space-between;
	width: 100%;
	align-items: center;
	max-width: 1264px;
	transition: ease 0.3s;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
}

.sm-menu{
	display:none;
}
#nav-wrapper{
	background-color: white;
	margin-top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top:none;
	top: 0;
	height: 179px;
	position: fixed;
	padding-left: 7.5%;
	padding-right: 7.5%;
	transition: ease 0.3s;
	z-index: 20000;

}
.nav-btn{
  padding-bottom: 0px;
  margin-bottom:  0px;
}
.nav li{
  list-style-type: none;
  padding-bottom: 0px;
  display: inline-block;
	font-size: 11px;
	font-weight: 400;
	width: 100px;
	height: 100%;
	vertical-align: middle;
	text-align: right;
	letter-spacing: 0.1em;
}
.nav li a{
  padding:0;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
/* .active{
  color: #242424 !important;
} */
.nav-btn-left{
  margin-right: 56px;
}
.nav-bg{
  background-color: white;
  padding-top: 0;
  border-bottom: solid 1px #eeeeee;
}

.logo {
  font-size: 16px;
	line-height: 1.125;
  font-weight: bolder;
	position: relative;
  text-decoration: none;
	color: #323232;
  background-color: transparent;

	/* transition: height 0.6s
	cubic-bezier(0.77, 0, 0.175, 1);
	transition-delay: 0.5s; */
}

.span{
	background-color: white;
	display: block;
	letter-spacing: 0.01em;
	transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

#span-name{
	z-index: 2;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
}

#span-title{
	z-index: -1;
	position: relative;
}

.span-title{
	font-weight: 400;
}

.nav-work{
	color:#424242;
	}

.nav-link{
	color: #424242;
}

/* header small */
.large {
	color: #424242;
	font-weight: bold;
}
.small {
	padding-top: 14px;
	color: black;
	font-weight: bold;
}
.small-li{
	font-size: 14px;
}

#finalscreen-section2{
	margin-top: 56px;
}

#smallMenu{
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 30000;
		background-color: white;
		overflow-x: hidden;
		transition: 0.4s ease;
		display: none;
	}
	.sm-menu-content-wrapper{
		width: 100%;
		height: 100%;
		display: block;
	}
	.sm-menu-content-wrapper ul{
		display: block;
		padding-left: 7.5%;
		padding-right: 7.5%;
		padding-top: 10%;
		list-style-type: none;
	}
	.sm-menu-content-wrapper ul li{
		margin-bottom: 12%;
		/* text-align: center; */
	}
	.sm-menu-content-wrapper ul li a{
		text-decoration-line: none;
		font-size: 2.8em;
		color: #424242;
		font-weight: 200;
		font-family: 'Roboto', sans-serif;
	}


/*
Buttons
*/

.outline-button{
	background-color: white;
	background-color: white;
	color: #616161;
	border: 2px solid #bdbdbd;
	cursor:pointer;
	outline:0;
	padding:10px;
	padding-left: 24px;
	padding-right: 24px;
	border-radius: 8px;
	font-size: 14px;
	font-weight:500;
}
.outline-button p{

}

/*
Typography
*/
p{
	margin:0 0 0;
}
.display{
	font-size: 48px;
	font-weight: 600;
	color: #323232;
}
.quotes{
	font-size: 32px;
	font-weight: 400;
	color: #424242;
}
h1{
	font-size: 32px;
  font-weight: 600;
	color: #323232;
	padding-bottom: 8px;
}
h2{
	padding-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
	color: #424242;
	font-family: 'Karma', serif;
}

h3{
  font-size: 24px;
  font-weight: lighter;
	color: #424242;
	font-family: 'roboto', sans-serif;
}
.h4{
  font-size: 20px;
  font-weight: 400;
}
.call-out p{
  font-size: 32px;
  font-weight: 400;
	color: #424242;
}
.subtitle{
  font-size: 18px;
  font-weight: 600;
	color: #323232;
}
.textarea p span{
	font-size: 18px;
	font-walked: 500;
}
.textarea span{
	font-size: 18px;
	font-weight: 500;
}
.bodycopy1{
	font-size: 18px;
	color: #424242;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 12px;
	font-weight: 400;
}
.bodycopy1-b{
	font-size: 18px;
	color: #424242;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.bodycopy2  span b{
	font-family: 'Roboto', sans-serif;
}
.bodycopy2{
	font-size: 14px;
	color: #424242;
	font-weight: 500;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
}
.bodycopy3{
	font-size: 14px;
	color: #424242;
	font-weight: 400;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
}
.bodycopy4{
	font-size: 12px;
	color: #424242;
	font-weight: 400;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
}

.hyperlink{
  color: #4433ff;
  font-weight: 400;
	text-decoration: none;

	transition: ease 0.2s;
}
.hyperlink:hover{
  font-size: 16px;
  color: #4433ff;
  font-weight: 400;
	text-decoration: underline;

}
.short-sentence{
	width: 100%;
	justify-content: flex-start;
	display: block;
	align-items: flex-start;
}
.italic{
	font-style: italic;
	font-weight: 400;
	color: #757575;
	width: 100%;
	text-align: center;
	margin-top: 12px;
	font-size: 14px;
	margin-bottom: 32px;
}
.caption{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.list-img{
	margin-top: 32px;
	display: flex;
	align-items: center;
}
.list-img img{
	margin-right: 16px;
}

.list-img-2{
	margin-top: 56px;
	display: flex;
	align-items: center;
}

.list-img-2 img{
	margin-right: 36px;
}

progress {
	position: fixed;
	left: 0;
 	width: 100%;
	height: 4px;
	margin-top: 40px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	color: hotpink;
	z-index: 25000;
}

progress::-webkit-progress-bar {
	background-color: transparent;
	z-index: 10;
}

progress::-webkit-progress-value {
	background-color: hotpink;
	z-index: 10;
}

progress::-moz-progress-bar {
  background-image: linear-gradient(to right, hotpink , #ed174b);
	background-color: hotpink;
	z-index: 10;
}

.progress-container {
	width: 100%;
	background-color: transparent;
	position: fixed;
	top: 40;
	left: 0;
	height: 10px;
	display: block;
	z-index: 10;
}
.project-img-wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.project-img{
	margin-top: 32px;
}
#reflect-text{
	padding-left: 0px;
	padding-right: 0px;
}
.progress-bar {
  background-image: linear-gradient(to right, #315ff8 , #ed174b);
	background-color: #315FF8;
	width: 0%;
	display: block;
	height: inherit;
	z-index: 10;
}
.project-hero{
	/* width: 100%;
	height: 80vh; */
	/* background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center; */
}

.hero-text{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.flexbox{
  display: flex;
  justify-content: space-between;
}

.flex-block{
  max-width: 500px;
}

.flex-to-block{
  display: flex;
  flex-direction: column;
}

/* .textarea span{
	color:#323232;
} */
.quotes{
	text-align: center;
}
.quotes-wrapper{
	padding: 32px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quotes-line{
	height: 4px;
	width: 100px;
	background-color: #0c9dad;
	margin: 56px 0;
}

#project-hero-caption-line2{
  margin-top: 12px;
}
#project-line1{
  padding-right: 24px;
}
#verily-hero{
	background-image: url("../assets/verily/verily-hero3.png");
}
.project-story{
  width: 100%;
  padding-left: 7.5%;
  padding-right: 7.5%;
	padding-top: 179px;
	display: flex;
	justify-content: center;

	transition: ease 0.2s;
}
.textarea-wrapper{
	width: 100%;
	padding-left: 7.5%;
	padding-right: 7.5%;
	display: flex;
	justify-content: center;
}
.project-story-body{
  width: 100%;
  padding-left: 7.5%;
  padding-right: 7.5%;
	display: flex;
	justify-content: center;
}

#gif{
	box-shadow: 2px 24px 40px #F1F0F0;
}
#img-gif{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.project-wrapper{
	width: 100%;
  max-width: 1264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call-out{
    border-left: 4px solid #0c9dad;
		padding-left: 24px;
}

.textarea{
  max-width: 700px;
  margin-top: 80px;
}
.bodycopy1 li{
	margin-top: 12px;
}
.text-1line{
	min-width: 700px;
}
.description{
  margin-bottom: 16px;
	display: block;
}
.img{
  margin-top: 32px;
}

.accordion-wrapper{
	border: 1px solid #e0e0e0;
	border-radius: 8px;
}
.accordion {
  background-color: transparent;
  color: #444;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  color: #424242;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* .active:after {
  content: "\2212";
} */

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel-bottom-divline{
	border-bottom: 1px solid #e0e0e0;
}
ol{
	padding-left: 16px;
	line-height: 1.7;
}
ul{
	padding-left: 16px;
	line-height: 1.7;
	font-size: 18px;
	font-weight: 400;
	color: #424242;
}

/*other project section begins here*/
#project-others{
  width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-x: hidden;
	padding-top: 56px;
	padding-bottom: 56px;
	/* border-top: solid 1px #333333; */
}
#reflect{
	width: 100%;
  background-color: #F3F9FB;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	padding-left: 7.5%;
	padding-right:7.5%;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 100px;
}

#nda{
	background-color: #fafafa;
  border-radius: 16px;
  padding: 16px;
}
#reflect-text{
	margin-top: 0;
}
/* .other-project{
  width: 328px;
	margin left: 7.5%;
	margin right: 7.5%;
} */
.list-number{
	display: inline-block;
	width: 100%;
}
.impact-number{
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	align-items: center;
}
.grid-container-2-col{
	display: grid;
	align-items: center;
	grid-template-columns: 50% auto;
	overflow: hidden;
	max-width:1200px;
	width: 100%;
	margin: 56px 0;
}
.grid-container-2-col .grid-item{
	height: auto;
	border-radius: 16px;
	padding: 16px;
	padding-top: 8px;
	margin: 8px;
}
.grid-container-4-col{
	display: grid;
	align-items: center;
	grid-template-columns: 25% 25% 25% auto;
	overflow: hidden;
	max-width:1200px;
	width: 100%;
	margin: 56px 0;
}
.grid-container-4-col .grid-item{
	height: auto;
	border-radius: 16px;
	padding: 16px;
	padding-top: 8px;
	margin: 8px;
}


.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% auto;
	overflow: hidden;
	max-width:1200px;
	width: 100%;
}
.grid-item {
	background-color: #fff;
  padding: 16px;
	padding-top: 0px;
	padding-bottom: 32px;
  font-size: 30px;
  text-align: center;
	height: 300px;
}

#other-project-title1{
	    padding-top: 16px;
	    text-align: left;
	    padding-left: 16px;
	    color: #424242;
}

#other-project-onduo{
background-image: url("../assets/hero/onduo.png");
transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
width: 100%;
height:100%;
min-height: 200px;
background-repeat: no-repeat;
background-size: auto 100%;
background-position: center;
border-radius: 8px;
}
#other-project-pb{
background-image: url("../assets/pb/thumbnail-pbr-next.png");
transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
width: 100%;
height:100%;
min-height: 200px;
background-repeat: no-repeat;
background-size: auto 100%;
background-position: center;
border-radius: 8px;
}
#other-project-system{
background-image: url("../assets/onduoapp/other-project-system.png");
transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
width: 100%;
height:100%;
min-height: 200px;
background-repeat: no-repeat;
background-size: auto 100%;
background-position: center;
border-radius: 8px;
}
#other-project-verily{
background-image: url("../assets/hero/thumbnail-verily-next.png");
transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
width: 100%;
height:100%;
min-height: 200px;
background-repeat: no-repeat;
background-size: auto 100%;
background-position: center;
border-radius: 8px;
}
#other-project-med{
background-image: url("../assets/verily/thumbnail-medreminder.png");
transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
width: 100%;
height:100%;
min-height: 200px;
background-repeat: no-repeat;
background-size: auto 100%;
background-position: center;
border-radius: 8px;
}

.other-project-text{
	position: absolute;
	border: 1px solid red;
	z-index: 3;
}

.next-project{
	width: 320px;
}
.next-text{
	text-align: center;
	font-size: 12px;
	color: #424242;
}
/*other project section ends here*/




/*footer begins here*/
#onduo-footer{
	margin-top: 100px;
}
#project-others-onduo{
	background-color: #fff;
	padding-top: 56px;
}
#footer-wrapper{
	color: #757575;
	width: 100%;
	height: 100px;
	vertical-align: text-bottom;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#footer-text{
	color: #616161;
	font-size: 12px;
}
#top-arrow{
	font-size: 32px;
	color: #fff;
	background-color: #242424;
	border-radius: 100px;
	padding: 4px;

	transition: 0.2s ease;

}
#top-arrow:hover{
	color: #fff;
	background-color: #51585c;
}
#back2Top {
    /* width: 36px; */
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 56px;
		right: 5%;
    background-color: transparent;
    color: #555;
    text-align: center;
    font-size: 32px;
    text-decoration: none;
}
/*footer ends here*/

@media (max-width: 890px) {
	.material-icons.md-18 {
		font-size: 18px;
	}


	.flexbox{
		display: block;
	}
	.project-left{
		width: 100%;
		margin:0;
		margin-top:2.4%
	}
	.project-right{
		width: 100%;
		margin:0;
		padding-top: 16px;
	}
  .flexbox-reverse{
    display: flex;
    flex-direction: column-reverse;
  }
  .flex-to-block{
    display: flex;
    flex-direction: row;
  }
  #project-hero-caption-line2{
    margin-left: 24px;
    margin-bottom: 24px;
    margin-top: 0px;
  }

  .hero-text{
    margin-top: 100px;
    margin-bottom: 56px;
  }
	.text-1line{
		max-width: 700px;
		min-width: 0px;
	}
	.sm-menu{
		display:flex;
	}
	.nav-li{
		display: none;
	}
	.sm-menu-dark i{
		color:white;
	}
	#openMenu{
		cursor: pointer;
	}
	.grid-container{
		display: inline-block;
	}
	#project-others{
		display: block;
		justify-content: center;
		align-items: center;
		height: auto;
	}
	.project-story {
    padding-top: 120px;

		transition: ease 0.2s;
	}
	.next-project{
		width: auto;
	}
}

@media (max-width: 528px) {
	#next-project-wrapper{
		padding-left: 0px;
		padding-right: 0px;
	}
	.project-wrapper{
		padding: 0px;
	}
	.nav{
		padding: 0px;
	}
	.grid-container-2-col{
		display: inline-block;
		grid-template-columns: 100% auto;
		overflow: hidden;
		width: 100%;
		margin: 24px 0;
	}
	.grid-container-2-col .grid-item{
		border: none;
	}
	#reflect-text{
		padding-left: 0px;
		padding-right: 0px;
	}
	#video{
		height: 396pxs;
	}
	.quotes{
		font-size: 28px;
	}
}

footer{
	width: 100%;
	max-width: 1264px;
}

.footer-div{
	background-color: #E3EEF0;
	padding-bottom: 56px;
	padding-left: 7.5%;
	padding-right: 7.5%;
	margin-bottom: 0;
	font-size: 14px;
	display: inline-block;
	color: #757575;
	text-align:left;
	width: 100%;
	display: flex;
	justify-content: center;
	/* margin-top: 56px; */
}
