*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	font-family: 'avenir', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	transition: cubic-bezier(0.77, 0, 0.175, 1);

}

html {
  scroll-behavior: smooth;
}

/*
Typography
*/
#hero-headline{
	color: #323232;
	font-weight: 400;
	font-size: 24px;
	font-family: 'roboto', sans-serif;
}
h1{
	font-size: 32px;
  font-weight: 600;
	color: #323232;
}
h2{
  font-size: 24px;
  font-weight: 440;
	color: #424242;
}
h3{
  font-size: 24px;
  font-weight: lighter;
	color: #424242;
	font-family: 'roboto', sans-serif;
}
.h3{
	font-size: 24px;
	font-weight: 500;
	color: #424242;
}
.bodycopy1{
	font-size: 16px;
	color: #424242;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 12px;
	font-weight: 400;
}
.bodycopy2  span b{
	font-family: 'Roboto', sans-serif;
}
.bodycopy2{
	font-size: 14px;
	color: #424242;
	font-weight: 500;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
}
.bodycopy3{
	font-size: 14px;
	color: #424242;
	font-weight: 300;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
}
.bodycopy4{
	font-size: 12px;
	color: #757575;
	font-weight: 400;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
}
.caption {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.italic{
	font-style: italic;
	font-weight: 400;
	color: #757575;
	font-family: 'Roboto', sans-serif;

}
.bulleted-list{
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
	font-size: 14px;
	color: #757575;
}
.header-arrow{
 margin-top: 150px;
}
.remove{
	visibility: hidden;
}
.arrow{
	width: 200px;
}
.scroll_down{
	font-size: 16px;
	font-weight: 500;
	color: #424242;
}

.material-icons{
	color: #5f6368;
}

/*
Buttons
*/

.primary-btn{
	padding: 6px 16px;
	margin-top: 24px;
	margin-bottom: 24px;
	background-color: #fff;
  	color: #323232;
  	font-size: 14px;
  	font-weight: 500;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
  	border-radius: 4px;
	border: 1px solid #323232;
  	cursor: pointer;
	display: inline-block;
	letter-spacing: 0.2px;

	transition: ease 0.2s;
}
.primary-btn:hover{
	background-color: #424242;
	color: #fff;
}
.link-btn{
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	color: #5f6368;
	display: flex;
	align-items: center;
}

.list-img{
	margin-top: 32px;
	display: flex;
	align-items: center;
}
.list-img img{
	margin-right: 16px;
}
a{
	text-decoration: none;
}
/*
Navigation
*/

.nav{
	position: -webkit-fixed;
	padding-left: 24px;
	padding-right: 24px;
	margin-bottom: 0;
  align-items:baseline;
	top: 0;
  justify-content: space-between;
	width: 100%;
	align-items: center;
	/* border-bottom: 1px solid #f1f1f1; */
	max-width: 1264px;
	transition: ease 0.3s;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
}

.sm-menu{
	display:none;
}
#nav-wrapper{
	background-color: white;
	/* opacity: 0.96; */
	margin-top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top:none;
	top: 0;
	height: 179px;
	position: fixed;
	padding-left: 7.5%;
	padding-right: 7.5%;
	transition: ease 0.3s;
	z-index: 20000;
	box-shadow: none;
}
.active{
	-webkit-box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
    -moz-box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
	box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
}
.nav-btn{
  padding-bottom: 0px;
  margin-bottom:  0px;
}
.nav li{
  list-style-type: none;
  padding-bottom: 0px;
  display: inline-block;
	font-size: 11px;
	font-weight: 400;
	width: 100px;
	height: 100%;
	vertical-align: middle;
	text-align: right;
	letter-spacing: 0.1em;
}
.nav li a{
  padding:0;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

/* .active{
  color: #242424 !important;
} */
.nav-btn-left{
  margin-right: 56px;
}
.nav-bg{
  background-color: white;
  padding-top: 0;
  border-bottom: solid 1px #eeeeee;
}

.logo {
  font-size: 16px;
	line-height: 1.125;
  font-weight: bolder;
	position: relative;
  text-decoration: none;
	color: #323232;
  background-color: transparent;

	/* transition: height 0.6s
	cubic-bezier(0.77, 0, 0.175, 1);
	transition-delay: 0.5s; */
}

.span{
	background-color: white;
	display: block;
	letter-spacing: 0.01em;
	transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

#span-name{
	z-index: 2;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
}

#span-title{
	z-index: -1;
	position: relative;
}

.span-title{
	font-weight: 400;
}

.nav-work{
	color:#4433ff;
	text-decoration-line: none;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;

	}

.nav-link{
	color: #424242;
}

/* header small */
.large {
	color: #424242;
	font-weight: bold;
}
.small {
	padding-top: 14px;
	color: black;
	font-weight: bold;
}
.small-li{
	font-size: 14px;
}

#smallMenu{
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 30000;
		background-color: white;
		overflow-x: hidden;
		transition: 0.4s ease;
		display: none;
		position: -webkit-fixed;
		top:0;
	}
	.sm-menu-content-wrapper{
		width: 100%;
		height: 100%;
		display: block;
	}
	.sm-menu-content-wrapper ul{
		display: block;
		padding-left: 7.5%;
		padding-right: 7.5%;
		padding-top: 10%;
		list-style-type: none;
	}
	.sm-menu-content-wrapper ul li{
		margin-bottom: 12%;
		/* text-align: center; */
	}
	.sm-menu-content-wrapper ul li a{
		text-decoration-line: none;
		font-size: 2.8em;
		color: #424242;
		font-weight: 200;
		font-family: 'Roboto', sans-serif;
	}


/* Work card */
.project-container{
	width: 100%;
	padding-left: 7.5%;
	padding-right: 7.5%;
	display: block;
	justify-content: center;
}
.work-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: flex-start;
}
.work-card-wrapper{
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
}
.work-card-text{
	text-align: left;
}
.work-card-title{
	font-size: 16px;
	font-weight: bold;
}
.work-card-bodycopy{
	font-size: 12px;
}
.work-card-text{
	padding-top: 24px;
	padding: 16px;
}
.work-card-outer{
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 8px;

}
.work-card-cta{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 16px;
	cursor: pointer;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: none;
}


/* Transitions */

header,
nav,
a,
img,
li {
	transition: .7s all;
	-moz-transition: .7s all;
	-webkit-transition: .7s all;
	-o-transition: .7s all;
}

.full-width-container{
	width: 100%;
	height: 100vh;
	display: flex;
  justify-content: center;
}

#scroll-down{
	width: 56px;
	height: 40px;
	margin-top: 90vh;
	z-index: 2;
	cursor: pointer;
}
#hero-illy{
	max-width: 1264px;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	position: absolute;
	z-index: -2;

	background-image: url("../assets/hero/illy8.png");
}
#hero-info{
	margin-top: 30vh;
}
/*
Info.css
*/
#first-project{
	padding-top: 180px;
	margin-bottom: 140px;
}
#about{
	margin-top: 200px;
	margin-bottom: 100px;
}
#greet{
	margin-left: 24px;
}
#randomshots{
	margin-bottom: 24px;
}
.sns-link{
  margin-left: 0;
  padding-left: 0;
  display: block;
  font-size: 14px;
  line-height: 2.4;
  font-weight: 700;
	color: #757575;
}
.links{
	padding-right: 4%;
}
.work-wrapper{
	padding-bottom: o;
}

.info{
  margin-top: 100px;
  /* display: -webkit-flex;
	display: flex; */
	margin: auto;
	max-width: 1276px;

  /* bottom: 7.5%; deleted to make it scrollable*/
  /* overflow: hidden; */
}

.info div:nth-of-type(1) {-webkit-flex-grow: 1.5;}
.info div:nth-of-type(2) {-webkit-flex-grow: 2.5;}


/* Standard syntax */
.info div:nth-of-type(1) {flex-grow: 1.5;}
.info div:nth-of-type(2) {flex-grow: 2.5;}

a.btn{
	background-color: #4433ff;
	color: white;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
}

a.btn:hover{
	background-color: #4433ff;
	color: white;
}

a.btn:focus, a.btn:active{
	outline: none !important;
	box-shadow: none !important;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}
a.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.work-title{
	font-size: 20px;
	font-weight: 600;
	margin-bottom:8px;

}
.metadata{
	font-weight: 600;
	margin-bottom:8px;
	font-size: 12px;
	color: #323232;
	font-family: 'roboto', sans-serif
}
.work-preview {
	margin-bottom: 24px;
	color: #757575;
}

.bg{
	position: absolute;
	padding-left: 16px;
	padding-top:  16px;
	opacity: 0;
	color: #424242;
	display: flex;
	flex-direction: column;
}

.bg p{
	color: #abb5b9;
}

.about{
	margin-top: -12px;
  max-width: 70%;
	font-size: 14px;
	line-height: 2;
}
.about li{
	list-style: none;
	font-weight: 900;
	font-size: 16px;
}
.about-title{
	font-size: 24px;
	line-height: 1.6;
	color: #424242;
}
.about-body{
	margin-bottom: 32px;
	color:#757575;
}
.divider{
	width: 100%;
	height: 1px;
	background-color:#eeeeee;
}
.caption{
	color: #9e9e9e;
	font-size: 14px;
}
/* info.css */
.carousel .fs-carousel-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s linear, visibility 0s linear;
  transition-delay: 0.25s;
}

.carousel .fs-carousel-item.fs-carousel-visible {
  opacity: 1;
  visibility: visible;
  transition-duration: 0.25s;
  transition-delay: 0s;
}

.flexbox{
	display: flex;
	flex-direction: row;
}
.project-left{
	margin-right: 12px;
	width: 30%;
}

.project-right{
	margin-left: 12px;
	width: 48.8%;
}
#work1{
	margin-bottom:24px;
}
#flexbox1{
	margin-bottom:180px;
}
.work-thumbnail{
	width: 100%;
	height: 328px;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}
.work-thumbnail-sm{
	width: 100%;
	height: 350px;
	margin: 8px;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}

#work-verily{
	background-image: url("../assets/hero/thumbnail-verily.png");
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

#work-med{
	background-image: url("../assets/hero/thumbnail-med.png");
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

#work-pbr{
	background-image: url("../assets/hero/thumbnail-pbr.png");
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
/* #work-onduo{
	background-image: url("../assets/medreminder/hero.png");
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
} */
#work-onduo{
	background-image: url("../assets/medreminder/img-cover.png");
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
#work-system{
	background-image: url("../assets/hero/thumbnail-system.png");
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
#work-illy{
	background-image: url("../assets/illustrations/modular-illy2.png");
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
#work-epro{
	background-image: url("../assets/hero/thumbnail-epro.png");
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
#work-me{
	background-image: url("../assets/hero/thumbnail-me3.png");
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
	height: 495px;
}
#contact{
	background-image: url("../assets/hero/illy9.png");
	transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
	background-color: #f5d38d;
	height: 395px;
}

#for-fun{
	margin-top: 80px;
}

.fun-items{
	height: 300px;
	background-color: #fafafa;
}

#about-me{
	padding: 100px 7.5% 150px 7.5%;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}
#about-text{
	max-width: 600px;
	color: #323232;
}
.bodycopy1 span{
	font-family: "Roboto", sans-serif;
}

#about-cta{
	margin-top: 56px;
}

footer{
	width: 100%;
	max-width: 1264px;
	padding-left: 24px;
}
#index-footer{
	background-color: #fafafa;
}
.footer-div{
	padding-bottom: 56px;
	padding-left: 7.5%;
	padding-right: 7.5%;
	margin-bottom: 0;
	font-size: 14px;
	display: inline-block;
	color: #757575;
	text-align:left;
	width: 100%;
	display: flex;
	justify-content: center;
}

#footer-wrapper{
	color: #757575;
	width: 100%;
	height: 100px;
	vertical-align: text-bottom;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#footer-text{
	color: #616161;
	font-size: 12px;
}
.hyperlink{
	color: #4433ff;
	font-weight: bold;
}

.hyperlink:hover{
	color: #4433ff;
	font-weight: bold;
}

#top-arrow{
	font-size: 32px;
	color: #000;
}
#top-arrow:hover{
	color: #4433ff;
}
#back2Top {
    width: 36px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 56px;
    right: 5%;
    background-color: transparent;
    color: #555;
    text-align: center;
    font-size: 32px;
    text-decoration: none;
}
.link{
	text-decoration-line: none;
	text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% auto;
	overflow: hidden;
	max-width:1276px;
	width: 100%;
}
.grid-item {
  background-color: #fff;
  padding: 24px;
	padding-bottom: 32px;
	margin: 8px;
  font-size: 30px;
	display: flex;
	flex-direction: column;
}
#grid-item-about{
	border-top: 4px solid #4433ff;
	padding-top: 24px;
}
.grid-item:hover {
	cursor: pointer;
	box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.26);

	transition: .15s cubic-bezier(.4,0,.2,1) ;
}
.grid-item-text{
	text-align: left;
	padding: 16px;
	padding-left: 0px;
	padding-top: 24px;
}
.grid-item-text p{
	padding-top: 16px;
}

@media (max-width: 960px) {
	.flexbox{
		display: block;
	}
	.project-left{
		width: 100%;
		margin:0;
		margin-top:2.4%
	}
	.project-right{
		width: 100%;
		margin:0;
		padding-top: 16px;
	}
	.sm-menu{
		display:block;
	}
	.nav-li{
		display: none;
	}
	#openMenu{
		cursor: pointer;
	}
	#greet {
	    margin-bottom: 120px;
	    display: block;

			transition: ease 0.2s;
	}
	.info-epro{
    margin-top: 200px;
	}
	#about-me{
		padding: 20% 7.5% 20% 7.5%;
		margin-top: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #fff;
	}
	.work-thumbnail{
		width: 100%;
		height: 356px;
	}
	#flexbox1{
		margin-bottom:120px;
		/* display: flex;
		flex-direction: column-reverse; */
	}
	#first-project{
		margin-bottom:120px;
		padding-top: 120px;

		/* display: flex;
		flex-direction: column-reverse; */
	}
}

@media (max-width: 528px) {
	.nav{
		padding-left: 0px;
		padding-right: 0px;
	}
	.grid-item {
		padding: 0px;
		padding-bottom: 56px;
	  }
	.work-thumbnail{
		width: 100%;
		height: 230px;
	}
	.info-epro{
    margin-top: 150px;
	}
	#greet {
			/* margin-top: 250px; */
			margin-bottom: 120px;
			padding-bottom: 0px;
	}

	.grid-container {
	  display: inline-block;
	  grid-template-columns: 100% auto;
		overflow: hidden;
		width: 100%;
	}
	.project-container {
	    padding-left: 6%;
	    padding-right: 6%;
		}
	#scroll-down{
		margin-top: 80vh;
	}
}


.caption-wrapper{
	display: flex;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  width: auto;
  color: white;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-nav{
	display: flex;
	justify-content: space-between;
	padding-left: 16px;
	padding-right: 16px;

}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #fafafa;
  padding: 12px 16px;
  color: #616161;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.2;

	transition: ease 0.3s;
}

.active,
.demo:hover {
  opacity: 1;
}






.container1 {
  position: relative;
}

/* Hide the images by default */
.mySlides1 {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor1 {
  cursor: pointer;
}

/* Next & previous buttons */
.prev1,
.next1 {
  cursor: pointer;
  position: relative;
  width: auto;
  color: white;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-nav1{
	display: flex;
	justify-content: space-between;
	padding-left: 16px;
	padding-right: 16px;

}
/* Number text (1/3 etc) */
.numbertext1 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container1 {
  text-align: center;
  background-color: #fafafa;
  padding: 12px 16px;
  color: #616161;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column1 {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo1 {
  opacity: 0.2;

	transition: ease 0.3s;
}

.active,
.demo1:hover {
  opacity: 1;
}
