*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	font-family: 'avenir', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.col-3{

}
/*
Typography
*/
h1{
  font-size: 48px;
  font-weight: bold;
}
h2{
  font-size: 36px;
  font-weight: normal;
}
.b1{
	list-style: none;
	font-size: 16px;
}
.b1-bold{
	list-style: none;
	font-weight: 00;
	font-size: 16px;
	line-height: 2em;
}

/*
Navigation
*/
.nav{
  position: fixed;
  align-items:baseline;
  display: flex;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 20px;
  justify-content: space-between;
  width: 100%;

  z-index: 20000
}

.nav-btn{
  padding-bottom: 0px;
  margin-bottom:  0px;
}
.nav li{
  list-style-type: none;
  padding-bottom: 0px;
  display: inline-block;
	font-size: 16px;
	font-weight: 300;
}
.nav li a{
  padding:0;
}
.active{
  color: #424242 !important;
}
.nav-btn-left{
  margin-right: 36px;
}
.nav-bg{
  background-color: white;
  padding-top: 0;
  border-bottom: solid 1px #eeeeee;
}

.logo {
  color: #424242;
  font-size: 72px;;
  font-weight: lighter;
  text-decoration: none;
  background-color: transparent;

  transition: ease 0.3s;
}

/* header small */
.large {
  padding-top: 20px;
}
.small {
  font-size: 44px;
  padding-top: 0;
}
.small-li{
	font-size: 16px;
}
.nav-info{
	color: #322db5;
}
/* Transitions */

header,
nav,
a,
img,
li {
	transition: .7s all;
	-moz-transition: .7s all;
	-webkit-transition: .7s all;
	-o-transition: .7s all;
}

/* index.css */

/* index.css */

/*
Info.css
*/

.info-img{
	width: 100%;
	height: 150px;
	/* background-color: #ffffff; */
}


.sns-link{
  margin-left: 0;
  padding-left: 0;
  display: block;
  font-size: 16px;
  line-height: 2.4;
  font-weight: 700;
	color: #9e9e9e;
}

.sns-link:hover{
	color:#322db5;
}
.links{
	padding-top: 8px;
}

.info{
  margin-top: 56px;
  /* position: absolute; */
  top: 130px;
  margin-left: 7.5%;
  margin-right: 7.5%;
	margin-bottom: 150px;
  display: flex;
  /* bottom: 7.5%; deleted to make it scrollable*/
  overflow: hidden;
  /* background-color: #e0e0e0; */
}
.verily-link{
  font-size: 24px;
  color: #ff1643;
  font-weight: bold;
  /* font-family: 'Work Sans', sans-serif; */
  text-decoration: underline;


  transition: ease 0.3s ;
}
.verily-link:hover{
  /* color: #d40000; */
  color: #ff1643;
  text-decoration: underline;
}
.about{
	margin-top: -12px;
  max-width: 70%;
	font-size: 16px;
	line-height: 1.7;
}

.about-title{
	font-size: 24px;
	font-weight: 500;
	line-height: 1.6;
	color: #424242;
	padding-top: 20px;
}
.about-body{
	margin-bottom: 32px;
	color:#757575;
}
.divider{
	width: 100%;
	height: 1px;
	background-color:#eeeeee;
}
.caption{
	color: #9e9e9e;
	font-size: 14px;
}
/* info.css */
.emoji{
	font-size: 24px;
}
